/* Estilos generales de la aplicación */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
}

.main-content {
  flex: 3;
  padding: 20px;
}

/* Estilos para la lista de tablas */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}

/* Estilos para el CRUD de tablas */
h2 {
  color: #333;
}

div {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button.update {
  background-color: #28a745;
}

button.delete {
  background-color: #dc3545;
}

/* Estilos para el botón centrado */
.centered-button-container {
  display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  margin-top: 20px; /* Opcional: Añade espacio superior */
}

.centered-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.centered-button:hover {
  background-color: #0056b3;
}

button.update {
  background-color: #28a745;
}

button.delete {
  background-color: #dc3545;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table thead tr {
  background-color: #0056b3;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}
